
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>login</title>

    <link rel="stylesheet" href="/static/bootstrap-4.3.1/css/bootstrap.min.css"/>

    <link href="/static/bootstrap-4.3.1/css/signin.css" rel="stylesheet">


</head>
<body class="text-center">
<form class="form-signin" action="/users/login/" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">用户名</label>
    <input type="text" id="inputEmail" class="form-control" name="name" placeholder="Username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" >
    {{ if ne .Error  "" }}
        <div class="alert alert-danger">
            {{ .Error }}
        </div>

    {{ end }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>
</body>
</html>
