{{define "nav_users"}}active{{end}}
{{define "content"}}
    <div>

        <form class="form-inline" action="/users/" method="GET">
            <label class="label label-default">查询: </label>
            <input type="text" class="form-control" value="{{.Query}}" name="q">
            <input type="submit" class="btn btn-primary" value="查询">
            <a class="btn btn-link" href="/users/create/">添加</a>
        </form>
    </div>
    <div class="mt-3">
        <table class="table table-hover table-striped table-bordered ">
            <thead class="thead-dark">
            <tr>
                <th>姓名</th>
                <th>生日</th>
                <th>联系方式</th>
                <th>联系地址</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Users }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Birthday }}</td>
                    <td>{{ .Tel }}</td>
                    <td>{{ .Addr }}</td>
                    <td>{{ .Desc}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="/users/modify/?id={{ .ID }}">编辑</a>
                        <a class="btn btn-sm btn-danger" href="/users/delete/?id={{ .ID }}">删除</a>
                    </td>
                </tr>
            {{ else }}
                <tr>
                    <td colspan="6">无数据</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
{{end}}